output/NJ_sandy_cfdamages_CMIP5_Mean.blocks.condensed.csv
output/NJ_sandy_cfdamages_CMIP5_Mean.blocks.csv
output/NJ_sandy_cfdamages_CMIP5_Mean.csv
output/NJ_sandy_cfdamages_CMIP5_Mn.blocks.condensed.csv
output/NJ_sandy_cfdamages_CMIP5_Mn.blocks.csv
output/NJ_sandy_cfdamages_CMIP5_Mn.csv
output/block_depth_full_list.warp.simulated.csv
output/correct_nan_march2016.csv
output/CT_sandy_cfdamages_CMIP5_Mar.blocks.condensed.csv
output/CT_sandy_cfdamages_CMIP5_Mar.blocks.csv
output/CT_sandy_cfdamages_CMIP5_Mar.csv
output/CT_sandy_cfdamages_CMIP5_Mean.blocks.condensed.csv
output/CT_sandy_cfdamages_CMIP5_Mean.blocks.csv
output/CT_sandy_cfdamages_CMIP5_Mean.csv
output/CT_sandy_cfdamages_CMIP5_Mn.blocks.condensed.csv
output/CT_sandy_cfdamages_CMIP5_Mn.blocks.csv
output/CT_sandy_cfdamages_CMIP5_Mn.csv
output/CT_sandy_cfdamages_LinRate_Mar.blocks.condensed.csv
output/CT_sandy_cfdamages_LinRate_Mar.blocks.csv
output/CT_sandy_cfdamages_LinRate_Mar.csv
output/CT_sandy_cfdamages_LinRate_Mean.blocks.condensed.csv
output/CT_sandy_cfdamages_LinRate_Mean.blocks.csv
output/CT_sandy_cfdamages_LinRate_Mean.csv
output/CT_sandy_cfdamages_LinRate_Mn.blocks.condensed.csv
output/CT_sandy_cfdamages_LinRate_Mn.blocks.csv
output/CT_sandy_cfdamages_LinRate_Mn.csv
output/CT_sandy_cfdamages_Mean_Mar.blocks.condensed.csv
output/CT_sandy_cfdamages_Mean_Mar.blocks.csv
output/CT_sandy_cfdamages_Mean_Mar.csv
output/CT_sandy_cfdamages_Mean_Mean.blocks.condensed.csv
output/CT_sandy_cfdamages_Mean_Mean.blocks.csv
output/CT_sandy_cfdamages_Mean_Mean.csv
output/CT_sandy_cfdamages_Mean_Mn.blocks.condensed.csv
output/CT_sandy_cfdamages_Mean_Mn.blocks.csv
output/CT_sandy_cfdamages_Mean_Mn.csv
output/errorplot_allobs.jpg
output/errorplot_nopoor.jpg
output/errorplot_oldobs.jpg
output/fingerprints_data/.~lock.nyc_fingerprints.csv#
output/fingerprints_data/global_glacial_mean.tif
output/fingerprints_data/global_glacial_mean.tif.aux.xml
output/fingerprints_data/nyc_fingerprints.csv
output/NJ_sandy_cfdamages_CMIP5_Mar.blocks.condensed.csv
output/NJ_sandy_cfdamages_CMIP5_Mar.blocks.csv
output/NJ_sandy_cfdamages_CMIP5_Mar.csv
output/NJ_sandy_cfdamages_LinRate_Mar.blocks.condensed.csv
output/NJ_sandy_cfdamages_LinRate_Mar.blocks.csv
output/NJ_sandy_cfdamages_LinRate_Mar.csv
output/NJ_sandy_cfdamages_LinRate_Mean.blocks.condensed.csv
output/NJ_sandy_cfdamages_LinRate_Mean.blocks.csv
output/NJ_sandy_cfdamages_LinRate_Mean.csv
output/NJ_sandy_cfdamages_LinRate_Mn.blocks.condensed.csv
output/NJ_sandy_cfdamages_LinRate_Mn.blocks.csv
output/NJ_sandy_cfdamages_LinRate_Mn.csv
output/NJ_sandy_cfdamages_Mean_Mar.blocks.condensed.csv
output/NJ_sandy_cfdamages_Mean_Mar.blocks.csv
output/NJ_sandy_cfdamages_Mean_Mar.csv
output/NJ_sandy_cfdamages_Mean_Mean.blocks.condensed.csv
output/NJ_sandy_cfdamages_Mean_Mean.blocks.csv
output/NJ_sandy_cfdamages_Mean_Mean.csv
output/NJ_sandy_cfdamages_Mean_Mn.blocks.condensed.csv
output/NJ_sandy_cfdamages_Mean_Mn.blocks.csv
output/NJ_sandy_cfdamages_Mean_Mn.csv
output/NY_sandy_cfdamages_CMIP5_Mar.blocks.condensed.csv
output/NY_sandy_cfdamages_CMIP5_Mar.blocks.csv
output/NY_sandy_cfdamages_CMIP5_Mar.csv
output/NY_sandy_cfdamages_CMIP5_Mean.blocks.condensed.csv
output/NY_sandy_cfdamages_CMIP5_Mean.blocks.csv
output/NY_sandy_cfdamages_CMIP5_Mean.csv
output/NY_sandy_cfdamages_CMIP5_Mn.blocks.condensed.csv
output/NY_sandy_cfdamages_CMIP5_Mn.blocks.csv
output/NY_sandy_cfdamages_CMIP5_Mn.csv
output/NY_sandy_cfdamages_LinRate_Mar.blocks.condensed.csv
output/NY_sandy_cfdamages_LinRate_Mar.blocks.csv
output/NY_sandy_cfdamages_LinRate_Mar.csv
output/NY_sandy_cfdamages_LinRate_Mean.blocks.condensed.csv
output/NY_sandy_cfdamages_LinRate_Mean.blocks.csv
output/NY_sandy_cfdamages_LinRate_Mean.csv
output/NY_sandy_cfdamages_LinRate_Mn.blocks.condensed.csv
output/NY_sandy_cfdamages_LinRate_Mn.blocks.csv
output/NY_sandy_cfdamages_LinRate_Mn.csv
output/NY_sandy_cfdamages_Mean_Mar.blocks.condensed.csv
output/NY_sandy_cfdamages_Mean_Mar.blocks.csv
output/NY_sandy_cfdamages_Mean_Mar.csv
output/NY_sandy_cfdamages_Mean_Mean.blocks.condensed.csv
output/NY_sandy_cfdamages_Mean_Mean.blocks.csv
output/NY_sandy_cfdamages_Mean_Mean.csv
output/NY_sandy_cfdamages_Mean_Mn.blocks.condensed.csv
output/NY_sandy_cfdamages_Mean_Mn.blocks.csv
output/NY_sandy_cfdamages_Mean_Mn.csv
output/sandy_cf_damages.7z
output/sandy_cf_damages_v2.zip
output/sandy_cf_damages_v3.zip
output/sandy_cfdamages_CMIP5_Mar.csv
output/sandy_cfdamages_CMIP5_Mean.csv
output/sandy_cfdamages_CMIP5_Mean_old.csv
output/sandy_cfdamages_CMIP5_Mn.csv
output/sandy_cfdamages_LinRate_Mar.csv
output/sandy_cfdamages_LinRate_Mean.csv
output/sandy_cfdamages_LinRate_Mn.csv
output/sandy_cfdamages_Mean_Mar.csv
output/sandy_cfdamages_Mean_Mean.csv
output/sandy_cfdamages_Mean_Mn.csv
output/sandy_county_state_results.csv
output/sandy_deltaGMSL.csv
output/sandy_deltaGMSL_v3.csv
output/sandy_indiv_cmips.csv
output/sandy_summary.csv
output/sandy_v2.csv
output/SandyError_AllObs.csv
output/SandyError_NoPoor.csv
output/SandyError_OldObsOnly.csv
images/floodmap_legend.png
images/high_elev_scatter.png
images/high_pc1.png
images/high_pc2.png
images/low_.pc1.png
images/low_.pc2.png
images/low_elev_scatter.png
images/med_elev_scatter.png
images/med_pc1.png
images/med_pc2.png
images/nan_plot.png
images/new_error.png
images/pca.png
images/sandy_unmodified_error.png
images/sandy_warped_error.png
images/standard_dev.fig
images/standard_dev.png
figures/SI_fig4_source.csv
figures/sandy_residual_colorbar.png
figures/sandy_remade_figures.zip
figures/sandy_flood_height.png
figures/sandy_flood_extent.pdf
figures/sandy_elev_v2.png
figures/sandy_elev_colorbar.png
figures/sandy_elev.png
figures/sandy_depth_diff.pdf
figures/sandy_damage_diff_jet.png
figures/sandy_damage_diff_colorbar.png
figures/sandy_damage_diff_4cm.pdf
figures/sandy_damage_diff_20cm.pdf
figures/sandy_damage_diff_10cm.pdf
figures/sandy_damage_diff.png
figures/sandy_abs_damage.png
figures/obs_cf_delta_plots_v3.png
figures/obs_cf_delta_plots_v2.png
figures/obs_cf_delta_plots.png -r300.png
figures/obs_cf_delta_plots.png
figures/error_fig.pdf
figures/county_damage_uncertainty.pdf
figures/county_damage_diff_test.png
Copy_of_MakeFloodDepthDamageFigure.m
cf_data.mat
data/2012_Sandy_AC2_YesDatumCorrectedNoGeoidOffset.csv
data/2012_Sandy_USGS_navd88_approved.csv
data/COOPS_vdatums_msl_navd88.csv
data/damage/blocks_depth.alt01.bathtub.csv
data/damage/blocks_depth.alt01.nowarp.scaled.csv
data/damage/blocks_depth.alt01.nowarp.simulation.csv
data/damage/blocks_depth.alt01.warp.scaled.csv
data/damage/blocks_depth.alt01.warp.simulation.csv
data/damage/blocks_depth.alt02.bathtub.csv
data/damage/blocks_depth.alt02.nowarp.scaled.csv
data/damage/blocks_depth.alt02.nowarp.simulation.csv
data/damage/blocks_depth.alt02.warp.scaled.csv
data/damage/blocks_depth.alt02.warp.simulation.csv
data/damage/blocks_depth.alt03.bathtub.csv
data/damage/blocks_depth.alt03.nowarp.scaled.csv
data/damage/blocks_depth.alt03.nowarp.simulation.csv
data/damage/blocks_depth.alt03.warp.scaled.csv
data/damage/blocks_depth.alt03.warp.simulation.csv
data/damage/blocks_depth.alt04.bathtub.csv
data/damage/blocks_depth.alt04.nowarp.scaled.csv
data/damage/blocks_depth.alt04.nowarp.simulation.csv
data/damage/blocks_depth.alt04.warp.scaled.csv
data/damage/blocks_depth.alt04.warp.simulation.csv
data/damage/blocks_depth.alt05.bathtub.csv
data/damage/blocks_depth.alt05.nowarp.scaled.csv
data/damage/blocks_depth.alt05.nowarp.simulation.csv
data/damage/blocks_depth.alt05.warp.scaled.csv
data/damage/blocks_depth.alt05.warp.simulation.csv
data/damage/blocks_depth.alt06.bathtub.csv
data/damage/blocks_depth.alt06.nowarp.scaled.csv
data/damage/blocks_depth.alt06.nowarp.simulation.csv
data/damage/blocks_depth.alt06.warp.scaled.csv
data/damage/blocks_depth.alt06.warp.simulation.csv
data/damage/blocks_depth.alt07.bathtub.csv
data/damage/blocks_depth.alt07.nowarp.scaled.csv
data/damage/blocks_depth.alt07.nowarp.simulation.csv
data/damage/blocks_depth.alt07.warp.scaled.csv
data/damage/blocks_depth.alt07.warp.simulation.csv
data/damage/blocks_depth.alt08.bathtub.csv
data/damage/blocks_depth.alt08.nowarp.scaled.csv
data/damage/blocks_depth.alt08.nowarp.simulation.csv
data/damage/blocks_depth.alt08.warp.scaled.csv
data/damage/blocks_depth.alt08.warp.simulation.csv
data/damage/blocks_depth.alt09.bathtub.csv
data/damage/blocks_depth.alt09.nowarp.scaled.csv
data/damage/blocks_depth.alt09.nowarp.simulation.csv
data/damage/blocks_depth.alt09.warp.scaled.csv
data/damage/blocks_depth.alt09.warp.simulation.csv
data/damage/CT.damage.dbf
data/damage/CT.damage.shp
data/damage/CT.damage.shx
data/damage/NJ.damage.dbf
data/damage/NJ.damage.shp
data/damage/NJ.damage.shx
data/damage/NY.damage.dbf
data/damage/NY.damage.qml
data/damage/NY.damage.shp
data/damage/NY.damage.shx
data/damageblocks_depth.alt01.bathtub.csv
data/damageblocks_depth.alt01.nowarp.scaled.csv
data/damageblocks_depth.alt01.nowarp.simulation.csv
data/damageblocks_depth.alt01.warp.scaled.csv
data/damageblocks_depth.alt01.warp.simulation.csv
data/damageblocks_depth.alt02.bathtub.csv
data/damageblocks_depth.alt02.nowarp.scaled.csv
data/damageblocks_depth.alt02.nowarp.simulation.csv
data/damageblocks_depth.alt02.warp.scaled.csv
data/damageblocks_depth.alt02.warp.simulation.csv
data/damageblocks_depth.alt03.bathtub.csv
data/damageblocks_depth.alt03.nowarp.scaled.csv
data/damageblocks_depth.alt03.nowarp.simulation.csv
data/damageblocks_depth.alt03.warp.scaled.csv
data/damageblocks_depth.alt03.warp.simulation.csv
data/damageblocks_depth.alt04.bathtub.csv
data/damageblocks_depth.alt04.nowarp.scaled.csv
data/damageblocks_depth.alt04.nowarp.simulation.csv
data/damageblocks_depth.alt04.warp.scaled.csv
data/damageblocks_depth.alt04.warp.simulation.csv
data/damageblocks_depth.alt05.bathtub.csv
data/damageblocks_depth.alt05.nowarp.scaled.csv
data/damageblocks_depth.alt05.nowarp.simulation.csv
data/damageblocks_depth.alt05.warp.scaled.csv
data/damageblocks_depth.alt05.warp.simulation.csv
data/damageblocks_depth.alt06.bathtub.csv
data/damageblocks_depth.alt06.nowarp.scaled.csv
data/damageblocks_depth.alt06.nowarp.simulation.csv
data/damageblocks_depth.alt06.warp.scaled.csv
data/damageblocks_depth.alt06.warp.simulation.csv
data/damageblocks_depth.alt07.bathtub.csv
data/damageblocks_depth.alt07.nowarp.scaled.csv
data/damageblocks_depth.alt07.nowarp.simulation.csv
data/damageblocks_depth.alt07.warp.scaled.csv
data/damageblocks_depth.alt07.warp.simulation.csv
data/damageblocks_depth.alt08.bathtub.csv
data/damageblocks_depth.alt08.nowarp.scaled.csv
data/damageblocks_depth.alt08.nowarp.simulation.csv
data/damageblocks_depth.alt08.warp.scaled.csv
data/damageblocks_depth.alt08.warp.simulation.csv
data/damageblocks_depth.alt09.bathtub.csv
data/damageblocks_depth.alt09.nowarp.scaled.csv
data/damageblocks_depth.alt09.nowarp.simulation.csv
data/damageblocks_depth.alt09.warp.scaled.csv
data/damageblocks_depth.alt09.warp.simulation.csv
data/data_Sandy_ClimateCentral.csv
data/data_Sandy_ClimateCentral_v4.csv
data/errorMap.dbf
data/errorMap.shp
data/errorMap.shx
data/maxele_grid_USACE_latest.csv
data/maxele_m7_Sandy_ClimateCentral.csv
data/maxele_p13_sandy_climatecentral.csv
data/maxele_p9.4_Sandy_ClimateCentral.csv
data/NAVDtoMSL.csv
data/simulations_july_2016/Alt_key.txt
data/simulations_july_2016/research_Sandy_01_fromNACP43_Rivers.grd/Sandy_01_fromNACP43_Rivers.grd
data/simulations_july_2016/research_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele_alt01.63/NACCS_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele.63
data/simulations_july_2016/research_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele_alt02.63/NACCS_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele.63
data/simulations_july_2016/research_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele_alt03.63/NACCS_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele.63
data/simulations_july_2016/research_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele_alt04.63/NACCS_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele.63
data/simulations_july_2016/research_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele_alt05.63/NACCS_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele.63
data/simulations_july_2016/research_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele_alt06.63/NACCS_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele.63
data/simulations_july_2016/research_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele_alt07.63/NACCS_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele.63
data/simulations_july_2016/research_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele_alt08.63/NACCS_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele.63
data/simulations_july_2016/research_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele_alt09.63/NACCS_TP_0001_HIS_Tides_1_SLC_0_RFC_1_maxele.63
data/station_to_remove.csv
.DS_Store
*~
data/SEanalysis/
data/SOURCE/
data/fig1/
data/source_data/
*.zip
data/INPUT
data/OUTPUT
